In [1]:
import os
import pandas as pd

In [2]:
directory_path = './datasets/preprocessed/'
filenames = [f for f in os.listdir(directory_path) if os.path.isfile(os.path.join(directory_path, f))]

In [3]:
df = pd.read_csv(directory_path+filenames[0])

In [4]:
columns = df.columns

In [5]:
for i,file in enumerate(filenames):
    if i == 0:
        continue
    df_import = pd.read_csv(directory_path+filenames[i])
    df = pd.concat([df,df_import],ignore_index=True)

In [8]:
# df.loc[df['benign'] == 1,['has_https']] = 1

In [10]:
df.groupby("benign").count()

,url,domain_len,domain_count,number_rate_file_name,domain_url_ratio,number_rate_url,path_domain_ratio,number_rate_after_path,avg_path_token_len,params_path_ratio,...,symbols_count,tld_count,domain_digit_count,param_digit_count,percent_count,has_https,has_html,has_php,has_exe,has_ip
benign,,,,,,,,,,,,,,,,,,,,,
0,326002,326002,326002,326002,326002,326002,326002,326002,326002,326002,...,326002,326002,326002,326002,326002,326002,326002,326002,326002,326002
1,519954,519954,519954,519954,519954,519954,519954,519954,519954,519954,...,519954,519954,519954,519954,519954,519954,519954,519954,519954,519954

In [7]:
df.drop_duplicates(subset=['url'],inplace=True)

In [10]:
df.to_csv("final_dataset.csv",index=False)

,url,domain_len,domain_count,number_rate_file_name,domain_url_ratio,number_rate_url,path_domain_ratio,number_rate_after_path,avg_path_token_len,params_path_ratio,...,tld_count,domain_digit_count,param_digit_count,percent_count,has_https,has_html,has_php,has_exe,has_ip,Unnamed: 0
benign,,,,,,,,,,,,,,,,,,,,,
0,295925,295925,295925,295925,295925,295925,295925,295925,295925,295925,...,295925,295925,295925,295925,295925,295925,295925,295925,295925,7029
1,532103,532103,532103,532103,532103,532103,532103,532103,532103,532103,...,532103,532103,532103,532103,532103,532103,532103,532103,532103,42458